<div class="my-headers-block">
  <h1 class="text-center">SIMPLE TODO LIST</h1>
  <p class="text-center">FROM RUBY GARAGE</p>
</div>
<div class="justify-content-center">
  <% flash.each do |name, msg| %>
    <%= content_tag div: msg, class: name %>
  <% end %>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action active">
      <span class="material-icons my-icon-label">assignment</span>
      <h4>Your todo list</h4>
    </li>
    <li class="list-group-item my-list-dark">
      <div class="d-inline-flex w-100">
        <%= form_with scope: :todo, url: todos_path do |f| %>
          <span class="material-icons my-icon-label"> add </span>
          <%= f.text_field :item, placeholder: "Start typing here to create a task", class: "my-input w-100" %>
          <%= f.submit "Add Task", class: "btn btn-success my-add-task" %>
        <% end %>
      </div>
    </li>
    <% @todos.each do |todo| %>
      <li id="list" class="list-group-item list-group-item-action my-list">
        <div class="row vertical-align">

          <div class="col-sm-1">
            <div class="my-checkbox">
              <input type="checkbox">
            </div>
          </div>

          <div class="col-xs-10 my-data">
            <%= todo.item %>
          </div>

          <div class="col-xs-1 my-edit">
              <%= link_to '', todo, method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-chevron-up my-up-down my-up-down-hover my-color " %>
              <%= link_to '', todo, method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-chevron-down my-up-down my-up-down-hover my-color " %>
          </div>

          <div class="col-xs-1 my-edit">
            <%= link_to '', todo, method: :update, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-pencil my-up-down-hover my-color " %>
          </div>

          <div class="col-xs-1 my-edit">
            <%= link_to '', todo, method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash my-up-down-hover my-color " %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>

<div class="fixed-bottom">
  <p class="text-center"> &COPY; Ruby Garage </p>
</div>
